// @import "variables.less";

// reset 
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: Helvetica;
}

div {
    box-sizing: border-box;
}
#app {
    height: 100%;
    // margin-top: 40px;
}

