<div>
  <div style="height: 90px;display:flex;justify-content: center;align-items: center">
    <img src="@/assets/logo.png" width="80%" @click="onNav('home')">
  </div>
  <div style="min-height: 125px;">
    <a-row v-for="nv,idx in navs" :key="`nv${idx}`" :class="{active: nv.label === activeLabel, animate__animated: nv.label === activeLabel, animate__pulse: nv.label === activeLabel}" @click.native="onNav(nv.label)">
      <a-col span="24">
        <div style="text-align:center;">
          <a-icon :type="nv.icon" size="34" theme="twoTone"/>
         </div>
      </a-col>
    </a-row>
  </div>
</div>
